#All strange files
.DS_Store

# IDEA Settings
.idea

# Log file
*.log
appiumLog.txt

# BlueJ files
*.ctxt

# Different
target
src/test/java/android/data/User.java
src/main/java/resources/app.apk
src/main/java/resources/.properties
PTG.iml